.news {
  padding-bottom: 33px;
}
.yangiliklar {
  color: #000;
  font-family: "Montserrat";
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}
.yangiliklar_btn {
  display: block;
  color: #393939;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  border: none;
  background-color: inherit;
}
.yangiliklar_content {
  display: flex;
  align-items:center;
  margin-bottom: 33px;
}
.news_block {
  display: flex;
  justify-content: space-between;
}
.news_title {
  font-family: "Montserrat";
  font-size: 28px;
  font-style: normal;
  color: #000;
  font-weight: 700;
  margin-bottom: 33px;
  text-align: center;
}
.news_box {
  max-width: 570px;
  background-repeat: no-repeat;
  background-image: url(../../../assets/img/news1.png);
  background-position: center;
  padding-bottom: 45px;
  background-color: url(<path-to-image>), lightgray 50% / cover no-repeat;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
}

.news_subtitle {
  font-family: "Montserrat";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 26px;
  padding: 312px 4px 26px 29px;
  color: #fff;
}
.news_span {
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-left: 29px;
}
.news_span2 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: 45px;
}

.news_box2 {
  max-width: 345px;
  background-repeat: no-repeat;
  background-image: url(../../../assets/img/news2.jpg);
  background-position: center;
  margin-bottom: 20px;
}

.loyihalar_box {
  padding: 12px 28px 20px 12px;
  background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}
.loyihalar {
  max-width: 86px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  padding: 2px 12px;
  border-radius: 26px;
  background-color: rgba(65, 30, 163, 0.42);
}

.loyihalar_title {
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  padding-top: 19px;
  padding-bottom: 13px;
}
.loyihalar_title2 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  padding-top: 33px;
  padding-bottom: 13px;
}
.lospan {
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-right: 13px;
}
.lospan2 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-right: 13px;
}
.lospan2::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../../../assets/icons/eye.svg);
  background-position: center;
  vertical-align: middle;
  margin-right: 9px;
}
.qidiruv {
  max-width: 86px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  padding: 2px 12px;
  border-radius: 26px;
  background-color: rgba(30, 163, 163, 0.42);
}

.news_box3 {
  max-width: 345px;
  background-repeat: no-repeat;
  background-image: url(../../../assets/img/news3.jpg);
  background-position: center;
  margin-bottom: 20px;
}

.yangilik {
  max-width: 86px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  padding: 2px 12px;
  border-radius: 26px;
  background: rgba(163, 86, 30, 0.42);
}

.news_box4 {
  max-width: 345px;

  background-repeat: no-repeat;
  background-image: url(../../../assets/img/news4.png);
  background-position: center;
}

.news_box5 {
  max-width: 308px;
  background-color: #355d95;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
}

.news_blue_block {
  padding: 29px 17px 0px 17px;
}

.right_title {
  color: #fff;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
}
.right_title_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.right_title::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-image: url(../../../assets/icons/radio.svg);
  background-position: center;
  vertical-align: middle;
  margin-right: 20px;
}

.right_btn {
  border: none;
  color: #fff;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 400;
  background-color: inherit;
}
hr {
  background-color: #fff;
}
.right_subtitle {
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  padding-bottom: 32px;
}
.last_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.right_vektor {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  border: none;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../../../assets/icons/vektor.svg);
  background-position: center;
  background-color: inherit;
  cursor: pointer;
}
