@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:wght@400;700;900&family=Roboto:wght@400;500;700&display=swap');
html{
  box-sizing:border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
button{
  cursor: pointer;
}
a {
  text-decoration: none;
  display: inline-block;
}

img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 20px;
}